@font-face{
  font-family: athena;
  src: url(fonts/Kurale-Regular.ttf);
}

.header__mobile {
  height: 60px;
  width: 100vw;
  background-color: #27272d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mobile__logo > img {
  margin: 5px 0 0 0;
  width: 100px;
  object-fit: cover;
}

.mobile__logo > img:hover{
  cursor: pointer;
}

.mobileMenu__logo > img {
  margin: 5px 0 0 0;
  width: 220px;
  object-fit: cover;
}

.mobile__search > input {
  height: 30px;
  width: 80%;
  border: none;
  background-color: rgb(73, 71, 71);
  color: white;
  border-radius: 6px;
  padding: 0 0 0 5px;
}

.mobile__search{
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
}

.searcherMobile{
  position: absolute;
  left: 6px;
  top: 31px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  z-index: 1;
}
.searcherMobile li {
  background-color: #515151;
  height: 35px;
  width: 123px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkMobile{
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-family: athena;
  transition: .4s ease;
}

.linkMobile:hover{
  color: #FFCF77;
  cursor: pointer;
}

.burger__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
  margin-right: 20px;
  z-index: 2;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #FFCF77;
  transition: 0.4s;
}

.burger__menu.active .bar:nth-child(2) {
  width: 0;
}

.burger__menu.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.burger__menu.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -6px);
}


.menu__items{
  position: fixed;
  left: -250%;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #27272d;
  transition: .5s ease;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.menu__items ul {
  height: 100%;
  width: 80%;
}

.menu__items li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:1px solid#FFCF77;
  border-bottom:1px solid#FFCF77;
  height: 10%;
}
.menu__items li a{
  text-decoration: none;
  color: white;
  font-family: athena;
  font-size: 25px;
  width: 100%;
  text-align: center;
}

.burger__menu.active .menu__items{
  left: 0;
}
