@font-face{
  font-family: athena;
  src: url(fonts/Kurale-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  background-color: #27272d;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 300px;
  height: 70px;
}

.header__leftside {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.header__logo {
  width: fit-content;
  height: 70px;
  object-fit: cover;
  transition: 0.5s ease;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__search {
  height: 25px;
  width: 200px;
  border: none;
  background-color: rgb(73, 71, 71);
  color: white;
  border-radius: 6px;
  padding: 0 0 0 5px;
}

.header__search::placeholder {
  color: rgb(192, 186, 186);
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.header__button {
  font-size: 25px;
  color: white;
  background-color: transparent;
  font-family: athena;
  font-weight: 400;
  border: none;
  text-align: center;
  transition: .5s ease;
}

.header__button:hover {
  cursor: pointer;
  color: #FFCF77;
}

.header__user {
  object-fit: cover;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.header__user:hover {
  cursor: pointer;
}

